@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="list-header">Locations I've visited</h2>
<div class="list-container">
    @foreach (var listLocation in Model)
    {
        <div class="panel panel-default item-panel">
            <div class="panel-body">
                <p class="location-name">
                    @Html.DisplayFor(modelLocation => listLocation.Name) 
                </p>
                <div class="btn-box">
                    <button class="btn btn-sm">
                        @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<p class="text-center">
    <button class="btn btn-lg">@Html.ActionLink("Add new location", "Create")</button>
</p>



