@model IEnumerable<TravelBlog.Models.Experience>

@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="list-header">Experiences I've had</h2>
<div class="list-container">
    @foreach (var listExperience in Model)
    {
        <div class="panel panel-default item-panel">
            <div class="panel-body">
                <p class="location-name">
                    @Html.DisplayFor(modelExperience => listExperience.Description)
                </p>
                <div class="btn-box">
                    <button class="btn btn-sm">
                        @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<p class="text-center">
    <button class="btn btn-lg">@Html.ActionLink("Add new experience", "Create")</button>
</p>
