@model IEnumerable<TravelBlog.Models.People>

@{
    ViewData["Title"] = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="list-header">People I've met</h2>
@*<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var listPeople in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelPeople => listPeople.Description)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listPeople.PeopleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listPeople.PeopleId }) |
                @Html.ActionLink("Details", "Details", new { id = listPeople.PeopleId})
            </td>
        </tr>
    }
</table>*@
<div class="list-container">
    @foreach (var listPeople in Model)
    {
        <div class="panel panel-default item-panel">
            <div class="panel-body">
                <p class="location-name">
                    @Html.DisplayFor(modelPeople => listPeople.Description)
                </p>
                <div class="btn-box">
                    <button class="btn btn-sm">
                        @Html.ActionLink("Details", "Details", new { id = listPeople.PeopleId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Edit", "Edit", new { id = listPeople.PeopleId })
                    </button>
                    <button class="btn btn-sm">
                        @Html.ActionLink("Delete", "Delete", new { id = listPeople.PeopleId })
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<p class="text-center">
    <button class="btn btn-lg">@Html.ActionLink("Add new person", "Create")</button>
</p>
